// Contianer
.container {
  max-width: $maxWidth;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

// Text Styles
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-primary {
  color: $primaryColor;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

// Backgrounds
.bg {
  &-primary {
    @include setBackground($primaryColor);
  }
  &-light {
    @include setBackground($lightColor);
    border: #ccc 1px solid;
  }
  &-dark {
    @include setBackground($darkColor);
  }
  &-success {
    @include setBackground($successColor);
  }
  &-danger {
    @include setBackground($dangerColor);
  }
  &-white {
    @include setBackground(#fff);
    border: #ccc 1px solid;
  }
}

// Buttons
.btn {
  display: inline-block;
  background: $lightColor;
  color: #333;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  transition: all 0.2s ease-in; 

  &.btn-primary {
    @include setBackground($primaryColor);
    &:hover {
      background: lighten($primaryColor, 5%);
    }
  }
  &.btn-dark {
    @include setBackground($darkColor);
    &:hover {
      background: lighten($darkColor, 5%);
    }
  }
  &.btn-success {
    @include setBackground($successColor);
    &:hover {
      background: lighten($successColor, 5%);
    }
  }
  &.btn-danger {
    @include setBackground($dangerColor);
    &:hover {
      background: lighten($dangerColor, 5%);
    }
  }
  &:hover {
    background: lighten($darkColor, 20%);
    color: #fff;
  }
}

// Alerts
.alert {
  padding: 0.8rem;
  margin: 1rem;
  opacity: 0.9;
  background: $lightColor;
  color: #333;

  &.alert-primary {
    @include setBackground($primaryColor);
  }
  &.alert-dark {
    @include setBackground($darkColor);
  }
  &.alert-success {
    @include setBackground($successColor);
  }
  &.alert-danger {
    @include setBackground($dangerColor);
  }
}

// Badges
.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: $lightColor;
  color: #333;

  &.badge-primary {
    @include setBackground($primaryColor);
  }

  &.badge-dark {
    @include setBackground($darkColor);
  }

  &.badge-success {
    @include setBackground($successColor);
  }

  &.badge-danger {
    @include setBackground($dangerColor);
  }
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7)
}