// Backgrounds
.bg {
  &-primary {
    @include setBackground($primaryColor);
  }
  &-light {
    @include setBackground($lightColor);
    border: #ccc 1px solid;
  }
  &-dark {
    @include setBackground($darkColor);
  }
  &-success {
    @include setBackground($successColor);
  }
  &-danger {
    @include setBackground($dangerColor);
  }
  &-white {
    @include setBackground(#fff);
    border: #ccc 1px solid;
  }
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7)
}